.container{
    background: orange;
    max-width: 800px;
    margin: 0 auto ;
    
}
.header{
    background: blue;
    height: 60px;
}
.wrapper{
    background: yellow;
    flex-direction: row-reverse;
    display: flex;
}
.menu{
    background: green;
    width: 50%;
    height: 300px;
}
.content{
    background: aqua;
    width: 50%;
    height: 300px;

}
.footer{
    background: pink;
    height: 100px;
}